Results : 
This is an ensemble of many models..
S003.csv :  Imputed missing vlaues while dropping Feat: 17, 18 ,19

In [1]:
## imports here !!!
import numpy as np
import pandas as pd
import xgboost as xgb


from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

import random
random.seed(95)

,Feature 1 (Discrete),Feature 2 (Discrete),Feature 3 (Discrete),Feature 4 (Discrete),Feature 5 (Discrete),Feature 6 (Discrete),Feature 7 (Discrete),Feature 8 (Discrete),Feature 9,Feature 10,...,Feature 16,Feature 17,Feature 18,Feature 19 (Discrete),Feature 20 (Discrete),Feature 21 (Discrete),Feature 22 (Discrete),Feature 23 (Discrete),Feature 24,Target Variable (Discrete)
0,1404,12,64,14,3,1,1,1,110.502,35775.2,...,NaN,NaN,15.04,104,12,2,32,1409,37677.1,1
1,909,0,235,32,1,1,1,1,-40.448,35779.4,...,2200.3,4900.005,12.03,20,1,0,13,909,25239.1,1
2,654,3,175,2,1,1,1,1,-27.445,35770.4,...,1973.3,10000.004,13.01,1,1,0,13,654,27683.5,1
3,1372,12,382,14,2,0,1,0,0.001,509.2,...,NaN,NaN,NaN,313,12,10,54,1377,39363.2,0
4,786,3,199,2,1,0,1,0,0.001,612.1,...,NaN,NaN,NaN,171,1,5,11,786,40044.4,2

# Mojority vote

In [ ]:
def generate_majoriy_vote(df_list,title):
    
    Majority_vote = pd.DataFrame()
    df = pd.DataFrame( pd.read_csv(df_list[0]) )
    Majority_vote['Id'] = df['Id']
    
    for i in range(len(df_list)):
        df = pd.DataFrame( pd.read_csv(df_list[i]) )
        Majority_vote[df_list[i]] = df['Category']
        
    Majority_vote["Ensemble"] = Majority_vote.mode(axis=1)[0].astype(int)
    

    ### Creating ensemble submission
    submission = pd.DataFrame() 
    
    submission['Id'] = Majority_vote ['Id']
    submission['Category'] = Majority_vote["Ensemble"]
    

    ### Creating csv
    #submission = output_test_data[['Id','Category']]
    submission.to_csv(title, index=False)    
        
    return Majority_vote

df_list = ['S_001.csv','S_003.csv','S_010.csv']
Majority = generate_majoriy_vote( df_list, "Ensemble_1_3_10.csv" )
Majority